*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Helvetica,Arial, sans-serif ;
  }
#header{
    height:46px;
    background-color: #000;
    position: fixed;
    top:0;
    right:0;
    left:0;
    z-index: 1;
}
#nav{
    display: inline-block;
}
#nav li{
    display: inline-block;
    position: relative; 
}
#nav>li>a{
    color: #fff; 
    text-transform: uppercase;   
}
#nav li a{
    text-decoration: none;
    line-height:46px;
    padding: 0 24px;
}
#nav >li:hover>a{
    background-color: #ccc;
    color: #000;
    display: inline-block;
}
#nav li:hover .subnav{
    display: block;
}
#nav .subnav{
    min-width: 160px;
    display:none;
    position: absolute;
    top:100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
#nav .subnav a{
    color: #000;
    line-height: 38px;
}
#nav .subnav li:hover {
    background-color: #ccc;
    
    color: #000;
}
#nav .subnav li{
    width: 100%;
    
}
#nav .nav-arrow-down{
    font-size: 10px;
}
#header .search-icon{
    color: #fff;
    font-size: 15px;
    line-height: 46px;

}
#header .search-btn{
   float:right; 
   padding:0 21px;
   cursor: pointer;
}
#header .search-btn:hover{
    background-color: #f44336;
}
#slider{
    margin-top: 46px;
    padding-top: 50%;
    background: url('/theband3/img/slider/slider1.jpg') top center /cover no-repeat;
    position:relative;
}
#slider .text-content{
    color:#fff;
    position: absolute;
    bottom:0;
    margin-bottom: 48px;
    width: 100%;
    text-align: center;
}
#slider .text-heading{
    font-weight:500;
    font-size:24px;
}
#slider .text-description{
    font-size:15px;
    margin-top: 25px;
}